body {
	background-color: #001121;
	padding: 0;
	margin: 0;
	display: block;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

html {
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.color_grad {
	background: linear-gradient(135deg, #BF145A, #00A5E9);
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

div.scroll_content {
	background-color: rgba(1,1,1,0.35);
	overflow: auto;
	width: 250px;
	height: 100%;
}

div.scroll_content::-webkit-scrollbar { 
    display: none; 
}

p.scroll_content {
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 0;
}

a.scroll_content {
	color: #eeeeee;
	text-decoration: none;
	font-size: 16px;
	font-weight: 100;
}

a.scroll_content:hover {
	text-decoration: underline;
}

h1.scroll_content {
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
	opacity: 0.95;
}